<a href="https://colab.research.google.com/github/garinspurlock/GitNinjaTutorial/blob/main/ADTCLinkedin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

In [ ]:
files=files.upload()

Saving Linkedin Messages (1).csv to Linkedin Messages (1) (1).csv

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('Linkedin Messages (1).csv')

In [ ]:
df.head()

  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4YzRhXzAwMA==  ...  INBOX
0  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...          ...  INBOX
1  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...          ...  INBOX
2  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...          ...  INBOX
3  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...          ...  INBOX
4  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...          ...  INBOX

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9984 entries, 0 to 9983
Data columns (total 9 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4YzRhXzAwMA==   9984 non-null   object
 1   Unnamed: 1                                                   53 non-null     object
 2   Timothy Spurlock                                             9940 non-null   object
 3   https://www.linkedin.com/in/timothy-spurlock-b47b292         9581 non-null   object
 4   Nicholas Reed                                                9911 non-null   object
 5   2018-01-03 20:10:42 UTC                                      9984 non-null   object
 6   Unnamed: 6                                                   537 non-null    object
 7   Hi Nicholas-Just got your invite.  I grew up in Gallipolis!  9892 non-null   object
 8   INBOX                                                        9983 non-null   object
dtypes: object(9)
memory usage: 702.1+ KB

In [ ]:
df.loc[:,[2,7]]

KeyError: ignored

In [ ]:
df.iloc[:,2]

0               Nicholas Reed
1            Timothy Spurlock
2            Timothy Spurlock
3               Nicholas Reed
4            Timothy Spurlock
                ...
9979    Ahmad Ramadan Ismael
9980         Timothy Spurlock
9981               Joe Mecham
9982          LinkedIn Member
9983         Timothy Spurlock
Name: Timothy Spurlock, Length: 9984, dtype: object

In [ ]:
df[df[:,2]!='Timothy Spurlock']

TypeError: ignored

In [ ]:
df[df[:,2] != 'Timothy Spurlock']

TypeError: ignored

In [ ]:
df.query(" column == 'Timothy Spurlock' ")

UndefinedVariableError: ignored

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9984 entries, 0 to 9983
Data columns (total 9 columns):
 #   Column                                                       Non-Null Count  Dtype
---  ------                                                       --------------  -----
 0   2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4YzRhXzAwMA==   9984 non-null   object
 1   Unnamed: 1                                                   53 non-null     object
 2   Timothy Spurlock                                             9940 non-null   object
 3   https://www.linkedin.com/in/timothy-spurlock-b47b292         9581 non-null   object
 4   Nicholas Reed                                                9911 non-null   object
 5   2018-01-03 20:10:42 UTC                                      9984 non-null   object
 6   Unnamed: 6                                                   537 non-null    object
 7   Hi Nicholas-Just got your invite.  I grew up in Gallipolis!  9892 non-null   object
 8   INBOX                                                        9983 non-null   object
dtypes: object(9)
memory usage: 702.1+ KB

In [ ]:
df.columns =['null','na','sendname','link','recieve','time','nall','message','inbox']

In [ ]:
df.head()

                                                null  ...  inbox
0  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX
1  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX
2  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX
3  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX
4  2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX

[5 rows x 9 columns]

In [ ]:
df.loc[:,['sendname','message']]

                   sendname                                            message
0             Nicholas Reed  Small world. I lived there from grade school o...
1          Timothy Spurlock                        So did I!!  As did my wife!
2          Timothy Spurlock                 Where did you live in Gallipolis??
3             Nicholas Reed  lived off 588, at one time and route 160 out b...
4          Timothy Spurlock  My wife lived off 35 behind Super America past...
...                     ...                                                ...
9979  Ahmad Ramadan Ismael   Greetings Mr Timothy. Do you offer some diplom...
9980       Timothy Spurlock  Sounds good.  Just curious...like fly as in yo...
9981             Joe Mecham                              No lol   Delta hahaha
9982        LinkedIn Member  Good Afternoon Mr. Spurlock,  I hope all is we...
9983       Timothy Spurlock  Hey Derick-Thanks for reaching out.  We have m...

[9984 rows x 2 columns]

In [ ]:
df[df['sendname'] != 'Timothy Spurlock']

                                                   null  ...  inbox
0     2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX
3     2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX
5     2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX
7     2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX
9     2-Y2EyNjQ4MTItNWI2NS01ZGMyLTkyY2EtNWJhYmM2NjY4...  ...  INBOX
...                                                 ...  ...    ...
9977  2-NGUyYzZiYTctOTM1My01YmE3LTljYmEtYmEwYzNhZjRm...  ...  INBOX
9978  2-NGI4ZDdjOWUtOWI3Mi00MzA4LWE1N2UtYzgyYzA3ZmE0...  ...  INBOX
9979  2-Y2E4ZGI2ZjMtMWNmNS00ZDhhLTg5ZGQtOTg4YWZlZWRh...  ...  INBOX
9981  2-NmY1NjkzZTctYWZjMS00MThlLTkyNDgtMTQzYTFkYjM4...  ...  INBOX
9982  2-NDI4MGRhMDEtZjkxNS00N2MxLTg0MTItNmQ3ZTU3Yzhi...  ...  INBOX

[4244 rows x 9 columns]

In [ ]:
df.drop(['null','nall'],axis=1,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9984 entries, 0 to 9983
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   na        53 non-null     object
 1   sendname  9940 non-null   object
 2   link      9581 non-null   object
 3   recieve   9911 non-null   object
 4   time      9984 non-null   object
 5   message   9892 non-null   object
 6   inbox     9983 non-null   object
dtypes: object(7)
memory usage: 546.1+ KB

In [ ]:
df.drop(['link','inbox','na'],axis=1,inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9984 entries, 0 to 9983
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sendname  9940 non-null   object
 1   recieve   9911 non-null   object
 2   time      9984 non-null   object
 3   message   9892 non-null   object
dtypes: object(4)
memory usage: 312.1+ KB

In [41]:
filtered = df.loc[df['message'].str.contains("Mechanic | tech | Technician | Opening | Need | Hire | Hiring ", case=True)]

ValueError: ignored

In [39]:
import re

In [43]:
filtered = df.loc[~df['message'].str.contains("Mechanic | tech | Technician | Opening | Need | Hire | Hiring")]

TypeError: ignored

In [46]:
df[df['message'].str.contains("Mechanic | tech | Technician | Opening | Need | Hire | Hiring")]

ValueError: ignored

In [48]:
df[df['message'].str.contains("Mechanic | tech | Technician | Opening | Need | Hire | Hiring", na=False)]

                           sendname  ...                                            message
183                Timothy Spurlock  ...  Hey David-Thanks for connecting.  I read with ...
195                  Amy C. Wallace  ...  Hi Tim, My co-worker tagged me and I saw your ...
198                Timothy Spurlock  ...  Hi Patrick-Figured I'd reach out.  Ryder has h...
262                       Robert C.  ...  Hi Timothy,   We would like to invite your org...
280                     Dave Morley  ...  We do Canada and the US. HR Can be completely ...
...                             ...  ...                                                ...
9478  Susan Simpfenderfer (she/her)  ...  Thanks! Sincerely sending my best as you move ...
9683                 Lauren Heymann  ...  Hi Timothy - Mercedes-Benz Manhattan is seekin...
9765                    Luke Walker  ...  Grand Opening of the EQUIP Skills Center! I'd ...
9790                 Devon Delcourt  ...  Hey Tim, I changed jobs earlier this year and ...
9816               Timothy Spurlock  ...  Hi Lidia-  I was also thinking...No guarantees...

[1393 rows x 4 columns]

In [ ]:
df[df['message'].str.contains("Mechanic | tech | Technician | Opening | Need | Hire | Hiring", na=False)]

In [50]:
df.iloc[[0:5],['message']]

SyntaxError: ignored

In [52]:
df['message']

0       Small world. I lived there from grade school o...
1                             So did I!!  As did my wife!
2                      Where did you live in Gallipolis??
3       lived off 588, at one time and route 160 out b...
4       My wife lived off 35 behind Super America past...
                              ...
9979    Greetings Mr Timothy. Do you offer some diplom...
9980    Sounds good.  Just curious...like fly as in yo...
9981                                No lol   Delta hahaha
9982    Good Afternoon Mr. Spurlock,  I hope all is we...
9983    Hey Derick-Thanks for reaching out.  We have m...
Name: message, Length: 9984, dtype: object

In [ ]:
filtered=

In [53]:
filtered=df[df['message'].str.contains("Mechanic | tech | Technician | Opening | Need | Hire | Hiring", na=False)]

In [54]:
filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1393 entries, 183 to 9816
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sendname  1393 non-null   object
 1   recieve   1389 non-null   object
 2   time      1393 non-null   object
 3   message   1393 non-null   object
dtypes: object(4)
memory usage: 54.4+ KB

In [55]:
filtered['message']

183     Hey David-Thanks for connecting.  I read with ...
195     Hi Tim, My co-worker tagged me and I saw your ...
198     Hi Patrick-Figured I'd reach out.  Ryder has h...
262     Hi Timothy,   We would like to invite your org...
280     We do Canada and the US. HR Can be completely ...
                              ...
9478    Thanks! Sincerely sending my best as you move ...
9683    Hi Timothy - Mercedes-Benz Manhattan is seekin...
9765    Grand Opening of the EQUIP Skills Center! I'd ...
9790    Hey Tim, I changed jobs earlier this year and ...
9816    Hi Lidia-  I was also thinking...No guarantees...
Name: message, Length: 1393, dtype: object

In [57]:
df.iloc[0:2, [3]]

                                             message
0  Small world. I lived there from grade school o...
1                        So did I!!  As did my wife!

In [58]:
filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1393 entries, 183 to 9816
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sendname  1393 non-null   object
 1   recieve   1389 non-null   object
 2   time      1393 non-null   object
 3   message   1393 non-null   object
dtypes: object(4)
memory usage: 54.4+ KB

In [59]:
filtered.head

<bound method NDFrame.head of                            sendname  ...                                            message
183                Timothy Spurlock  ...  Hey David-Thanks for connecting.  I read with ...
195                  Amy C. Wallace  ...  Hi Tim, My co-worker tagged me and I saw your ...
198                Timothy Spurlock  ...  Hi Patrick-Figured I'd reach out.  Ryder has h...
262                       Robert C.  ...  Hi Timothy,   We would like to invite your org...
280                     Dave Morley  ...  We do Canada and the US. HR Can be completely ...
...                             ...  ...                                                ...
9478  Susan Simpfenderfer (she/her)  ...  Thanks! Sincerely sending my best as you move ...
9683                 Lauren Heymann  ...  Hi Timothy - Mercedes-Benz Manhattan is seekin...
9765                    Luke Walker  ...  Grand Opening of the EQUIP Skills Center! I'd ...
9790                 Devon Delcourt  ...  Hey Tim, I changed jobs earlier this year and ...
9816               Timothy Spurlock  ...  Hi Lidia-  I was also thinking...No guarantees...

[1393 rows x 4 columns]>

In [66]:
filtered.to_csv(r'C:/Users/spurlock.162/Desktop/filtered_original.csv',index=False,header=True)

FileNotFoundError: ignored

SyntaxError: ignored

In [70]:
filtered.to_csv('filteredv2.csv')

In [ ]:
filtered=df[df['message'].str.contains("Mechanic | tech | Technician | Opening | Need | Hire | Hiring", na=False)]

In [71]:
omega=filtered[~filtered['sendname'].str.contains("Timothy Spurlock", na=False)]

In [72]:
omega.head()

           sendname  ...                                            message
195  Amy C. Wallace  ...  Hi Tim, My co-worker tagged me and I saw your ...
262       Robert C.  ...  Hi Timothy,   We would like to invite your org...
280     Dave Morley  ...  We do Canada and the US. HR Can be completely ...
293   Jesse Wheeler  ...  Hello Tim,  Just wanted to quickly introduce m...
319      Ian Coburn  ...  Timothy,  Enjoyed your recent post on the dies...

[5 rows x 4 columns]

In [73]:
omega.tail()

                           sendname  ...                                            message
9140                     Joe Mecham  ...  I need techs in Detroit, field and shop mechan...
9478  Susan Simpfenderfer (she/her)  ...  Thanks! Sincerely sending my best as you move ...
9683                 Lauren Heymann  ...  Hi Timothy - Mercedes-Benz Manhattan is seekin...
9765                    Luke Walker  ...  Grand Opening of the EQUIP Skills Center! I'd ...
9790                 Devon Delcourt  ...  Hey Tim, I changed jobs earlier this year and ...

[5 rows x 4 columns]

In [75]:
omega.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97 entries, 195 to 9790
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sendname  97 non-null     object
 1   recieve   97 non-null     object
 2   time      97 non-null     object
 3   message   97 non-null     object
dtypes: object(4)
memory usage: 3.8+ KB

In [76]:
filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1393 entries, 183 to 9816
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   sendname  1393 non-null   object
 1   recieve   1389 non-null   object
 2   time      1393 non-null   object
 3   message   1393 non-null   object
dtypes: object(4)
memory usage: 54.4+ KB

In [77]:
omega.to_csv('omegaadtc.csv')